<section class="hero has-text-centered" id="contact">
    <div class="hero-body">
        <div class="container">
            <h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-black is-marginless">
                Our Githubs
            </h3>
            <div class="column is-full is-size-3">
                {% unless site.github_username ==  %}
                <a href="http://www.github.com/iwu78" target="_blank" class="has-text-black"><i class="fab fa-github"></i></a>
                <p>Ian</p>
                {% endunless %}
                {% unless site.github_username2 ==  %}
                <a href="http://www.github.com/SrijDude3416" target="_blank" class="has-text-black"><i class="fab fa-github"></i></a>
                <p>Srijan</p>
                {% endunless %}
                {% unless site.github_username3 ==  %}
                <a href="http://www.github.com/RyanZLiu" target="_blank" class="has-text-black"><i class="fab fa-github"></i></a>
                <p>Ryan</p>
                {% endunless %}
                {% unless site.github_username4 ==  %}
                <a href="http://www.github.com/monke7769" target="_blank" class="has-text-black"><i class="fab fa-github"></i></a>
                <p>Hayden</p>
                {% endunless %}
            </div>
        </div>
    </div>
</section>
